---
import Layout from "../../layout/layout.astro";
const { regionRef } = Astro.params;
import { getRegionByRegionRef, getCardsByRegion, regions } from "../../data";
import ImageGrid from "../../components/ImageGrid";

export const getStaticPaths = () => {
  return regions.map((region) => ({
    params: { regionRef: region.nameRef },
  }));
};

const region = getRegionByRegionRef(regionRef);
const cards = getCardsByRegion(regionRef);

const gridProps = cards.map((card) => ({
  title: card.name,
  imgPath: card.assets[0].fullAbsolutePath,
  url: `/card/${card.cardCode}`,
}));
---

<Layout>
  <h1>{region.name}</h1>
  <ImageGrid data={gridProps} />
</Layout>
