.ImageTile {
  display: flex;
  flex-direction: column;

  height: 25vh;

  justify-content: center;
  align-items: center;

  background-color: #282b30;

  img {
    height: inherit;
    width: fit-content;

    object-fit: cover;
    overflow: hidden;

    opacity: 0.45;
  }

  .title {
    display: flex;
    position: absolute;
    color: white;
  }
}
